<!DOCTYPE html>
<html>
    <head>
        <title>React in Symfony</title>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <div id="application-table"></div>
        {{ encore_entry_script_tags('app') }}
    </body>
</html>